@charset "utf-8";

html, body,input, button, textarea, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,  strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, figure, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0;margin:0;padding:0;font-size:100%;vertical-align:baseline;outline:0}
ul, ol{list-style:none}
img,section, article, aside, header, footer, nav, dialog, figure {display:block}
address{font-style:normal}
a{text-decoration:none}
textarea{resize:none;font:12px arial}
h1,h2,h3,h4,h5,h6{font-weight:normal}
em{font-style:normal}
/* end / CSS reset */

@font-face{
	font-family:"Liberation Sans";
	src:url("../fonts/LiberationSans-Regular.eot?") format("eot"),
		url("../fonts/LiberationSans-Regular.woff") format("woff"),
		url("../fonts/LiberationSans-Regular.ttf") format("truetype"),
		url("../fonts/LiberationSans-Regular.svg#LiberationSans") format("svg");
	font-weight:normal;
	font-style:normal
}

/* end / font-face */

@Liberation: "Liberation Sans",Arial,Helvetica,sans-serif;
@blue: #38b2b5;
@white: #fff;
@blue-gray: #515e66;
/* end/ variables */

#header,#content,#footer{clear:both}
a{text-decoration:none}
a:hover{text-decoration:underline}
::-moz-selection{background:@blue-gray;color:#fff;text-shadow:none}
::selection{background:@blue-gray;color:#fff;text-shadow:none}
input,select,textarea{font:11px arial,helvetica,sans-serif,clean;overflow:auto;resize:vertical}
label{cursor:pointer}
html,#wrap{height:100%}
body{height:100%;background:@blue-gray;font:12px arial,helvetica,sans-serif,clean}
input:focus,textarea:focus{outline: none}
/* end / CSS Default */

.clear {clear:both;zoom:1}
.right {float:right}
.left {float:left}
/* end / position */

.hide{display:none}
.screen-reader{position:absolute;top:-999em;visibility:hidden}
/* end / hide elements */

#container{width:80%;min-width:1000px;height:100%;margin:0 auto;position:relative;background:#fff}

#header{width:150px;height:150px;position:absolute;top:0;left:0;z-index:3}
#header h1{width:150px;height:70px;position:absolute;top:45px;left:0}
#header h1 a{width:150px;height:70px;display:block;background:url(../img/layout/ixda-recife.png) no-repeat center 0;text-indent:-999em;float:left}

#header .social-media{position:absolute;bottom:0;left:25px}
#header .social-media ul li{width:16px;height:16px;margin:0 1px 0 0;float:left}
#header .social-media ul li a{width:16px;height:16px;background:url(../img/layout/icon-social-media.png) no-repeat;text-indent:-999em;float:left}
#header .social-media ul .facebook a{background-position:0 0}
#header .social-media ul .twitter a{background-position:0 -16px}
#header .social-media ul .flickr a{background-position:0 -32px}
#header .social-media ul .rss a{background-position:0 -48px}
/* end / header */

#content{height:100%;position:relative;z-index:1}
#content section{width:150px;height:100%;position:relative;float:left}
#content section h2{width:150px;height:150px;position:absolute;bottom:0;left:0;font-family:@Liberation;font-size:82px;line-height:150px;cursor:pointer;
						-webkit-transform: rotate(-90deg);
						-moz-transform: rotate(-90deg);
						-o-transform: rotate(-90deg);
						-ms-transform: rotate(-90deg);
						transform: rotate(-90deg)
}
.oldie #content section h2{filter:~"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"}

#about{background:@white}
#about h2{color:@blue}
#about:hover h2{text-shadow:0 0 5px @blue;z-index:2}

#events{background:@blue}
#events h2{color:@white}
#events:hover h2{text-shadow:0 0 5px @white;z-index:2}

#blog{background:@white}
#blog h2{color:@blue}
#blog:hover h2{text-shadow:0 0 5px @blue;z-index:2}

#candidature{background:@blue}
#candidature h2{color:@white}
#candidature:hover h2{text-shadow:0 0 5px @white;z-index:2}

#contact{background:@white}
#contact h2{color:@blue}
#contact:hover h2{text-shadow:0 0 5px @blue;z-index:2}

/* end / content */

#footer{}
#footer .copy{}
#footer .developer{}
/* end / footer */

@media print {
	body{line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:10pt}
	.container{background:none}
	hr{background:#ccc;width:100%;height:2px;margin:2em 0;padding:0;border:none}
	h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif}
	code{font:.9em "Courier New", Monaco, Courier, monospace}
	a img{border:none}
	p img.top {margin-top:0}
	img{max-width:100%}
	blockquote{margin:1.5em;padding:1em;font-style:italic;font-size:.9em}
	.small{font-size:.9em}
	.large{font-size:1.1em}
	.quiet{color:#999}
	.hide{display:none}
	a:link, a:visited{background:transparent;font-weight:700;text-decoration:underline}
	a:link:after, a:visited:after{content:" (" attr(href) ")";font-size:90%}
}
/* end / css print */